/* resete do enzo */
    *{
        margin: 0; 
        padding: 0;
    }
/* definindo umas cores pra texto */   
    h1 {
        font-size: 70px;
        color:#d5237d;
    }
    h2,h3,h4{
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: white;
        text-align: center;
    }
/* a nav né */
    nav {
        background-color: #d5237d;
        overflow: hidden;
    }
    
    nav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    nav a:hover{
        text-decoration: underline;
    }
  
/* as divs do meio da tela tão aqui */
    .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh; 
    }

    .texto-botao {
    text-align: center;
    width: 35%;
    margin-right: 20px; 
    }
    button{
        border-radius: 15px;
    }
    #cardapio-btn{
        background: linear-gradient(180deg, rgba(249,193,215,1) 0%, rgba(240,84,129,1) 71%, rgba(243,128,171,1) 100%);
        height: 4rem;
        width: 9rem;
    }
    #cardapio-btn h2{
        margin-top: 20px;
    }
    .imagem-redonda img {
    border-radius: 50%;
    width: 400; 
    height: 400px; 
    }
    

/* Zona de login/registros */

  #login-body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTQ0CwVaAMD_EPAQCOdUoDFkKFXtQAj457Ng&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .login-box {
  margin-top: 7rem;
  width: 30%;
  height: fit-content;
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box h2 {
  margin-top: 0;
  padding-top: 5px;
  border-top: 5px solid #d5237d;
}

/* Estilos para os elementos do formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 5px solid #d5237d;
  padding-bottom: 2rem;
}

label {
    font-size: large;
  margin-top: 2rem;
  float: left;
  color: white;
  display: block;
}
input{
    margin-top: 5px;
    background-color: pink;
}
input, .form {
  border-radius: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.form {
  width: 20%;
  border-bottom: 5px solid #d5237d;
  margin-top: 2rem;  
  background-color: #d5237d;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.form:hover {
  background-color: #0056b3;

   /* o cardápio */
.user-wrap{
    display: flex;
    flex-direction: column;
}
    .userimg{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }
    .userimg img{
        width: 200px;
        height: 200px;
    }

.option-wrap{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    cursor: pointer;
}
.carrinho{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
    .carrinho h2, .carrinho img{
        margin-left: 10px
    }

/*div de cada brigadeiro */
.user-wrap{
    display: flex;
    flex-direction: column;
}
    .userimg{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }
    .userimg img{
        width: 200px;
        height: 200px;
    }

.option-wrap{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    cursor: pointer;
}
.carrinho{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
    .carrinho h2, .carrinho img{
        margin-left: 10px
    }

/*div de cada brigadeiro */
.product-div{
    width: 150px;
    height: 200px;
    background-color: #fff;
    border-radius: 30px;
    margin: 25px;
}
    .product-wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
